[submodule "frameworks/bats"]
	path = frameworks/bats
	url = https://github.com/Sylvain303/bats
[submodule "frameworks/urchin"]
	path = frameworks/urchin
	url = https://github.com/Sylvain303/urchin.git
[submodule "frameworks/wvtest"]
	path = frameworks/wvtest
	url = https://github.com/Sylvain303/wvtest.git
